input{
    background-color:rgb(240, 235, 235);
    height: 40px;
    width: 270px;
    border-radius: 5px;
    outline-color:rgb(240, 235, 235) ;
}
.con-btn{
    margin: 25px;
    padding: 5px;
    background-color: black;
    color: white;
    height: 40px;
    width: 280px;
    border-radius: 7px;
    font-size: medium;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.fa-btn{
    background-color:white;border:1px solid rgb(155, 153, 153);
    width: 125px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
}
.go-btn{
    background-color:white;border:1px solid rgb(155,153, 153);
    width: 125px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
}
.img{

    width:35px;
    height: auto;
    padding: 2px;
}
h3{
    position: relative;
}
h3:before{
    background-color: black;
    display: block;
    width: 6vw;
    height: 1px;
    content: "";
    position: absolute;
    left: 42%;
    top: 50%;
}
h3::after{
    background-color: black;
    display: block;
    width: 6vw;
    height: 1px;
    content: "";
    position: absolute;
    right: 42%;
    top: 50%;
}